.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.container-register{
    width: 350px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 25px;
    background-color: rgb(235, 235, 235);
    text-align: center;
    padding: 100px 50px;
}

form{
    width: 100%;
    height: auto;
}

.container-register .title {
    font-size: 25px;
    font-weight: 500;
    position: relative;
    text-align: left;
    left: 4%;
}

.button {
    height: 45px;
    margin: 35px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

mat-form-field {
    width: 65%;
}
  
@media(max-width: 750px) {
    .container-register {
        max-width: 100%;
        border-radius: 0;
    }

    .input-box {
        margin-bottom: 15px;
        width: 100%;
    }

    input {
        width: 100% !important;        
    }
}